<div class="panel panel-default">
	<div class="panel-heading">List Plant Hire Requests</div>
	<div class="panel-body">
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Plant</th>
					<th>Start Date</th>
					<th>End Date</th>
					<th>Cost</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="phr in phrs">
					<td>
						{{phr.plant.name}}
						<button>
							Inspect plant
						</button>
					</td>
					<td>{{phr.startDate}}</td>
					<td>{{phr.endDate}}</td>
					<td>{{phr.cost}}</td>
					<td>
						<button class="btn btn-xs" ng-repeat="link in phr.links | filter:{rel:'!self'}"
							ng-class="{'btn-success':link.rel=='approve','btn-danger':link.rel=='reject'}"
							ng-click="follow(link)">
							{{link.rel}}
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<a type="button" class="btn btn-default" href="#/phrs/create">
		Create a Plant Hire Request
	</a>
</div>
